body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #66a6ff, #89f7fe);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.app-container {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.weather-form{
    background-color: #f7f7f7;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.weather-info{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-group{
    margin-top: 10px;
}

.btn-group button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;

}

.btn-group button:last-child {
    background-color: #f44336;
}

.btn-group button:hover {
    background-color: #45a049;
}

.btn-group button:last-child:hover{
    background-color: #e53935;
}

.error{
    color: red;
    display: none;
}

.error.active{
    display: block;
}

footer{
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
}

footer a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

footer a:hover{
    text-decoration: underline;
}